
/* HEADER----------------------------------------------*/

header {
  flex-direction: column;
}

#titre > span {
  font-size: 17px;
}

#logo_reservia > img {
  margin-left: 20px;
}

#logo_reservia {
  width: 15%;
}

nav {
  width: auto;
  display: row;
  width: 100%;
}

nav div {
  padding-left: 4px;
  margin: 0;
}

#hebergements {
  border: none;
  margin: 0;
  width: auto;
}

#hebergements > p {
  margin-top: 15px;
}

#activite {
  margin: 0;
  width: auto;
}

#inscrire {
  width: auto;
  margin-top: 0;
  margin-bottom: 30px;
}

#inscrire > span {
  margin-bottom: 30px;
}

/* MAIN----------------------------------------------*/

main {
  width: 100%;
}

#bloc_01{
  padding-left: 20px;
  padding-right: 20px;
}

#titre {
  width: 100%;
  padding-right: 40px;
  
}

#formulaire{
  margin: auto;
}

#logo_position{
  width: 15%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#barre_recherche{
  width: 65%;
}

#bouton_recherche > input{
  display: none;
}

#bouton_recherche_responsive{
  display: unset;
  padding: 15px;
  font-size: 18px;
  border-radius: 15px;
  background-color: #0065fc;
  color: rgb(255, 255, 255);
}


/*  #bouton_recherche{
    position: absolute;
  }

  #bouton_recherche > input{
    visibility: hidden;
  }

  #bouton_recherche::after {
    position: relative;
    font-family: "FontAwesome";
    content: "\f002";
    color: white;
    padding-left: 20px;
  }
*/

#bloc_02 {
  flex-direction: column-reverse;
}

#partie_droite {
  margin-left: 0;
  border-radius: 0;
  padding-right: 0;
  padding-left: 0;
  padding-top: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}

#partie_droite > div:not(#hotel_07) {
  margin-top: 15px;
}

#titre_aside {
  margin-left: 20px;
  margin-right: 20px;
}

#hotel_07 {
  margin: auto;
}

#hotel_08 {
  margin: auto;
}

#hotel_09 {
  margin: auto;
}

#partie_gauche {
  margin-top: 5px;
  flex-direction: column;
  background-color: white;
  border-radius: 0;
  padding: 0;
  margin-left: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

#partie_gauche > h1 {
  background-color: white;
}

#premiere_ligne {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hotel_01 {
  width: 333px;
}

#hotel_01 > img {
  width: 325px;
  height: 113px;
}

#hotel_02 {
  width: 333px;
}

#hotel_02 > img {
  width: 325px;
  height: 113px;
}

#hotel_03 {
  width: 333px;
}

#hotel_03 > img {
  width: 325px;
  height: 113px;
}

#premiere_ligne > div:not(#hotel_01) {
  margin-top: 15px;
}

#deuxieme_ligne {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-bottom: 18px;
}

#deuxieme_ligne > div:not(#hotel_04) {
  margin-top: 15px;
}

#hotel_04 {
  width: 333px;
}

#hotel_04 > img {
  width: 325px;
  height: 113px;
}

#hotel_05 {
  width: 333px;
}

#hotel_05 > img {
  width: 325px;
  height: 113px;
}

#hotel_06 {
  width: 333px;
}

#hotel_06 > img {
  width: 325px;
  height: 113px;
}

#titre_bloc_03 h1 {
  margin-left: 20px;
}

#section1 {
  margin-left: 20px;
}

#activites {
  flex-direction: column;
  flex-wrap: wrap;
}

#section1_element1 {
  width: 334px;
  height: 188px;
  margin-top: 10px;
}

#section1_element1 > img {
  height: 134px;
}

#section2_element1 {
  width: 334px;
  height: 188px;
  margin-top: 10px;
}

#section2_element1 > img {
  height: 134px;
}

#section2_element2 {
  width: 334px;
  height: 188px;
  margin-top: 10px;
}

#section2_element2 > img {
  height: 134px;
}

#section3_element1 {
  width: 334px;
  height: 188px;
  margin-top: 10px;
}

#section3_element1 > img {
  height: 134px;
}

#section4_element1 {
  width: 334px;
  height: 188px;
  margin-top: 10px;
}

#section4_element1 > img {
  height: 134px;
}

#section4_element2 {
  width: 334px;
  height: 188px;
  margin-top: 10px;
}

#section4_element2 > img {
  height: 134px;
}
