body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  margin: auto;
}

/* HEADER----------------------------------------------*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1250px;
  margin: auto;
}

#logo_reservia {
  margin-top: 30px;
  font-size: 12px;
}

#activite {
  margin-top: 30px;
}

#inscrire {
  margin-top: 30px;
}

nav {
  display: flex;
  list-style-type: none;
  font-size: 15px;
}

nav span {
  color: #0065fc;
}

#hebergements {
  border-top: 2px #0065fc solid;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 90%;
}

#hebergements > p {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 44px;
  color: #0065fc;
}

nav div {
  margin-right: 40px;
}

/* MAIN----------------------------------------------*/

main {
  width: 1250px;
  margin: auto;
}
#bloc_01 {
  display: flex;
  flex-direction: column;
}

/*-----------TITRE-----------------------------------*/

#titre {
  display: flex;
  flex-direction: column;
  line-height: 15px;
}

#titre > h3 {
  font-weight: bold;
  font-size: 20px;
}

#titre > div {
  font-size: 15px;
}

/*-----------FORMULAIRE-------------------------------*/

#formulaire {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 20px;
  border-radius: 10px;
}

#logo_position {
  width: 49px;
  height: 50px;
  background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#logo_position > i {
  padding-left: 18px;
  padding-top: 17px;
  font-size: 18px;
}

#barre_recherche {
  border: 1px #f2f2f2 solid;
  width: 18%;
}

form {
  margin-top: 0px;
  margin-bottom: 5px;
  width: 70%;
}

form > input {
  margin-top: 14px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

#bouton_recherche {
  height: 49px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #0065fc;
}

#bouton_recherche > input {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-emphasis: bold;
  font-size: medium;
  font-weight: bold;
  background-color: #0065fc;
  color: white;
}

#filtres {
  display: flex;
  flex-direction: row;
  font-size: 95%;
  font-weight: bold;
  margin-top: 32px;
}

#titre_filtres {
  margin-right: 30px;
}

#economique {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  height: 10%;
  border: 2px #f2f2f2 solid;
  border-radius: 40px;
  border-left-color: #deebff;
}

#logo_economique {
  width: 30%;
  background-color: #deebff;
  border-radius: 40px;
}

#logo_economique > i {
  color: #0065fc;
  padding-left: 13px;
  padding-right: 20px;
  padding-top: 17px;
}

#titre_economique {
  padding-left: 10px;
  padding-right: 10px;
}

#familial {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  height: 10%;
  border: 2px #f2f2f2 solid;
  border-radius: 40px;
  border-left-color: #deebff;
}

#logo_familial {
  width: 40%;
  background-color: #deebff;
  border-radius: 40px;
}

#logo_familial > i {
  color: #0065fc;
  padding-left: 18px;
  padding-right: 20px;
  padding-top: 17px;
}

#titre_familial {
  width: 100%;
}

#titre_familial > p {
  padding-left: 8px;
  padding-right: 13px;
}

#romantique {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  height: 10%;
  border: 2px #f2f2f2 solid;
  border-radius: 40px;
  border-left-color: #deebff;
}

#logo_romantique {
  width: 30%;
  background-color: #deebff;
  border-radius: 40px;
}

#logo_romantique > i {
  color: #0065fc;
  padding-left: 15px;
  padding-right: 20px;
  padding-top: 17px;
}

#titre_romantique {
  padding-left: 10px;
  padding-right: 10px;
}

#animaux {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  height: 10%;
  border: 2px #f2f2f2 solid;
  border-radius: 40px;
  border-left-color: #deebff;
}

#logo_animaux {
  width: 23%;
  background-color: #deebff;
  border-radius: 40px;
}

#logo_animaux > i {
  color: #0065fc;
  padding-left: 14px;
  padding-right: 20px;
  padding-top: 15px;
}

#titre_animaux {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

#economique:hover {
  background-color: #deebff;
}

#familial:hover {
  background-color: #deebff;
}

#romantique:hover {
  background-color: #deebff;
}

#animaux:hover {
  background-color: #deebff;
}

#info {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  font-weight: unset;
}

#texte_info {
  margin-left: 15px;
}

#texte_info > p {
  font-size: 14px;
}

#icone_info {
  margin-top: 9px;
  border: 1px #deebff solid;
  border-radius: 20px;
  height: 25px;
  width: 25px;
}

#icone_info > i {
  font-size: 12px;
  color: #0065fc;
  margin-left: 10px;
  margin-top: 5px;
}

#bloc_02 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#partie_gauche {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 60%;
  padding-left: 30px;
  padding-right: 30px;
}

#premiere_ligne {
  padding-top: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#deuxieme_ligne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#partie_gauche > h1 {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 20px;
  padding-top: 25px;
}

#hotel_01 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 35%;
  height: 90%;
  box-shadow: 1px 1px 60px rgb(185, 181, 181);
  margin-right: 20px;
}

#hotel_01 > img {
  width: 96%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 4.2px;
  padding-left: 4.2px;
}

#texte_hotel01 {
  font-size: 14px;
  padding-left: 20px;
  line-height: 7px;
}

#evaluation_1 {
  display: inline-block;
  font-size: 11px;
  color: #0065fc;
  margin-left: 20px;
  padding-bottom: 10px;
}

#evaluation_1 > span {
  color: #f2f2f2;
}

#hotel_02 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 35%;
  height: 90%;
  box-shadow: 1px 1px 60px rgb(185, 181, 181);
  margin-right: 20px;
}

#hotel_02 > img {
  width: 96%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 4.2px;
  padding-left: 4.2px;
}

#texte_hotel02 {
  font-size: 14px;
  padding-left: 20px;
  line-height: 7px;
}

#evaluation_2 {
  display: inline-block;
  font-size: 11px;
  color: #0065fc;
  margin-left: 20px;
  padding-bottom: 10px;
}

#evaluation_2 > span {
  color: #f2f2f2;
}

#hotel_03 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 35%;
  height: 90%;
  box-shadow: 1px 1px 60px rgb(185, 181, 181);
}

#hotel_03 > img {
  width: 96%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 4.2px;
  padding-left: 4.2px;
}

#texte_hotel03 {
  font-size: 14px;
  padding-left: 20px;
  line-height: 7px;
}

#evaluation_3 {
  display: inline-block;
  font-size: 11px;
  color: #0065fc;
  margin-left: 20px;
  padding-bottom: 10px;
}

#evaluation_3 > span {
  color: #f2f2f2;
}

#hotel_04 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 35%;
  height: 90%;
  box-shadow: 1px 1px 60px rgb(185, 181, 181);
  margin-right: 20px;
}

#hotel_04 > img {
  width: 96%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 4.2px;
  padding-left: 4.2px;
}

#texte_hotel04 {
  font-size: 14px;
  padding-left: 20px;
  line-height: 7px;
}

#evaluation_4 {
  display: inline-block;
  font-size: 11px;
  color: #0065fc;
  margin-left: 20px;
  padding-bottom: 10px;
}

#evaluation_4 > span {
  color: #f2f2f2;
}

#hotel_05 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 35%;
  height: 90%;
  box-shadow: 1px 1px 60px rgb(185, 181, 181);
  margin-right: 20px;
}

#hotel_05 > img {
  width: 96%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 4.2px;
  padding-left: 4.2px;
}

#texte_hotel05 {
  font-size: 14px;
  padding-left: 20px;
  line-height: 7px;
}

#evaluation_5 {
  display: inline-block;
  font-size: 11px;
  color: #0065fc;
  margin-left: 20px;
  padding-bottom: 10px;
}

#evaluation_5 > span {
  color: #f2f2f2;
}

#hotel_06 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 35%;
  height: 90%;
  box-shadow: 1px 1px 60px rgb(185, 181, 181);
}

#hotel_06 > img {
  width: 96%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 4.2px;
  padding-left: 4.2px;
}

#texte_hotel06 {
  font-size: 14px;
  padding-left: 20px;
  line-height: 7px;
}

#evaluation_6 {
  display: inline-block;
  font-size: 11px;
  color: #0065fc;
  margin-left: 20px;
  padding-bottom: 10px;
}

#evaluation_6 > span {
  color: #f2f2f2;
}

#afficherplus > p {
  padding-top: 10px;
  font-weight: bold;
}

#partie_droite {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 20px;
  padding-bottom: 30px;
  border-radius: 20px;
  margin-left: 15px;
}

#titre_aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 17px;
}

#titre_aside > i {
  font-size: 23px;
  padding-top: 20px;
}

#hotel_07 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 1px 60px rgb(185, 181, 181);
  margin-right: 27px;
  margin-top: 10px;
  width: 100%;
  height: 27%;
  margin-top: 20px;
}

#photo_07 > img {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding-top: 4.2px;
  padding-left: 4.2px;
}

#text_07 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#text_07 > p {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 50px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: start;
}

#evaluation_7 > span {
  color: #f2f2f2;
}

#evaluation_7 {
  display: inline-block;
  font-size: 11px;
  color: #0065fc;
  margin-bottom: 20px;
  margin-left: 20px;
}

#hotel_08 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 1px 60px rgb(185, 181, 181);
  margin-right: 27px;
  margin-top: 10px;
  width: 100%;
  height: 27%;
  margin-top: 20px;
}

#photo_08 > img {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding-top: 4px;
  padding-left: 4.2px;
}

#text_08 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#text_08 > p {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 50px;

  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: start;
}

#evaluation_8 > span {
  color: #f2f2f2;
}

#evaluation_8 {
  display: inline-block;
  font-size: 11px;
  color: #0065fc;
  margin-bottom: 20px;
  margin-left: 20px;
}

#hotel_09 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 1px 60px rgb(185, 181, 181);
  margin-right: 27px;
  margin-top: 10px;
  width: 100%;
  height: 27%;
  margin-top: 20px;
}

#photo_09 > img {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding-top: 4px;
  padding-left: 4.2px;
}

#text_09 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#text_09 > p {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 50px;

  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: start;
}

#evaluation_9 > span {
  color: #f2f2f2;
}

#evaluation_9 {
  display: inline-block;
  font-size: 11px;
  color: #0065fc;
  margin-bottom: 20px;
  margin-left: 20px;
}

#bloc_03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

#titre_bloc_03 h1 {
  font-size: 20px;
  font-weight: bold;
}

#activites {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}

#section1 {
  display: flex;
  flex-direction: column;
}

#section1_element1 {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 1px 60px rgb(185, 181, 181);
  width: 95%;
}

#section1_element1 img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#section1_element1 p {
  padding-left: 20px;
  font-weight: bold;
}

#section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

#section2_element1 {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 1px 60px rgb(185, 181, 181);
  width: 95%;
}

#section2_element1 img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#section2_element1 p {
  padding-left: 20px;
  font-weight: bold;
}

#section2_element2 {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 1px 60px rgb(185, 181, 181);
  width: 95%;
}

#section2_element2 img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#section2_element2 p {
  padding-left: 20px;
  font-weight: bold;
}

#section3 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#section3_element1 {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 1px 60px rgb(185, 181, 181);
  width: 95%;
}

#section3_element1 img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#section3_element1 p {
  padding-left: 20px;
  font-weight: bold;
}

#section4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

#section4_element1 {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 1px 60px rgb(185, 181, 181);
  width: 95%;
}

#section4_element2 {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 1px 60px rgb(185, 181, 181);
  width: 95%;
}

#section4_element1 img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#section4_element1 p {
  padding-left: 20px;
  font-weight: bold;
}

#section4_element2 img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#section4_element2 p {
  padding-left: 20px;
  font-weight: bold;
}

/* FOOTER----------------------------------------------*/

footer {
  background-color: #f2f2f2;
  width: 100%;
  margin-top: 30px;
}

#fond_footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  line-height: 30px;
  margin-top: 50px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-right: 100px;
}

#apropos {
  margin-left: 130px;
}

#heber {
  margin-left: 225px;
}

#assis {
  margin-left: 225px;
}
